$(tweet).ready ->
  $("#ptweet").on("ajax:success", (e, data, status, xhr) ->
    $("#ptweet").append xhr.responseText
  ).on "ajax:error", (e, xhr, status, error) ->
    $("#ptweet").append "<p>ERROR</p>"